<% content_for :page_title do %>
小孙和小李的恋爱小屋🛖: 恋爱小屋🛖. 
<% end %>

<% content_for :header_section do %>
<%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dt></dt>
    <dd class="work-in-progress">只看不转哈，谢谢参观. 如果您想送上祝福, 请在<a href="https://www.github.com/520snow/待定">github</a>中讨论.</dd>
  </dl>
</div>
<% end %>

<% documents_by_section.each do |section| %>
  <h3><%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], work_in_progress: document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>
